/* main.css */
/*div {
	border: 1px solid red;
}*/
body {
	background: url('../images/refrigerator-bkg-full.jpg') #ffffff no-repeat;
	background-size: cover;
	min-width: 320px;
	margin-top: 10%;
}
.main {
	/*background: url('../images/ruled-paper.jpg') #ffffff repeat-y;*/
	background-color: #f5f5f5;
	box-shadow: 10px 10px 5px #888888;
	width: 40%;
	min-height: 350px;
	min-width: 320px;
	margin: 0 auto;
}
.content {
	padding-left: 10px;
	font-family: 'Shadows Into Light', cursive;
}
.content h1 {
	margin-left: -10%; /* to offset content padding */
	font-family: 'Rock Salt', cursive;
}
.content input, .content li {
	font-size: 1.5em;
}
.content input {
	margin-left: 10px;
}
.content ul {
	list-style: square url(../images/circle.png);
}
li[aria-checked] {
	text-decoration: line-through;
	list-style-image: url(../images/circle-checked.png)
}
.lines {
	border-left: 1px solid #ffaa9f;
	border-right: 1px solid #ffaa9f;
	width: 2px;
	float: left;
	height: 350px;
	margin-left: 40px;
}​
.shopping-list {
	padding: 0;
}
.shopping-list li {
	border-bottom: 1px dotted #ccc;
	text-indent: 25px;
}
.shopping-list li span {
	background: url(../images/delete-icon.png) center center no-repeat;
	float: right;
	height: 35px;
	width: 35px;
	margin-right: 20px;
	display: inline-block;
}

@media only screen and (max-width: 400px) {
	.main {
		width: 33%;
	}
	.content {
		padding-left: 5%;
	}
	.content h1 {
		margin-left: 2%;
	}
}
/*.main = width: 33%
.content = padding-left: 10%
.content h1 = margin-left: 2%
*/
@media only screen and (max-width: 700px) {
	.shopping-list li {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
